#emotion {
  font-size: 60px;
  text-align: center;
  margin:auto 5px auto 0;
}

.class-progress{
  margin-bottom:20px;
}

.fa-arrow-up{
  color:green;
  margin-left:15px;
}

.fa-arrow-down{
  color:red;
  margin-left:15px;
}
