<div class="container">
  <div class="row justify-center-center">
    <div class="col-12">
      <%= form_with(model: [@subject, @student, @appointment]) do |f| %>
        <%= f.text_field :comment %>
        <%= f.text_field :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.submit 'Submit',class: "btn btn-sammi"%>
      <% end %>
    </div>
  </div>
</div>
