<h1>hello!!!</h1>
# <div class="banner">
#   <div class="container">
#     <h1 id="sammi-logo-large">Sammi</h1>
#     <p id="sammi-tagline">Supporting Teachers, Supporting Students</p>
#     <div class="btn-landing">
#       <a href="https://youtu.be/uayJ4QoKlVw?t=328", target="blank" >Live Demo </a>
#     </div>
#   </div>
#   <%= image_tag asset_path("emotion-reflection.svg"), id: "banner-image", class: "d-none d-sm-block" %>
# </div>
# <!-- code a "How it works" section -->
# <div class= "section">
#   <!-- <h2 class="mt-4 mb-3">How it works</h2> -->
#   <div class="cards">
#     <div class="card">
#       <%= image_tag asset_path("emotion-reflection2.svg"), class: "landing-card-image" %>
#       <h3>Awareness</h3>
#       <p>Encourage your students to develop an awareness of their wellbeing in a safe and confidential environment.</p>
#     </div>

#     <div class="card">
#       <%= image_tag asset_path("analytics2.svg"), class: "landing-card-image" %>
#       <h3>Analytics</h3>
#       <p>Access precision and real-time data analytics into the emotional journey of your students.</p>
#     </div>

#     <div class="card">
#       <%= image_tag asset_path("teamwork3.svg"), class: "landing-card-image" %>
#       <h3>Support</h3>
#       <p>Provide tailored and meaningful support to each student to promote personal and academic growth.</p>
#     </div>

#   </div>
# </div>

