.simple_form {
  font-family: $headers-font !important;
  font-weight: bold;
  text-align: center;
  font-size: smaller;
  border-radius: 10px !important;
}

.simple_form input {
  font-family: $body-font !important;
}
